/*RESET*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    border: none;
}

img {
    max-width: 100%;
}


/*LAYOUT*/

.container {
	max-width: 900px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}


/*STYLE*/








/*DEBUG*/

.debug .container {
	border: 2px dotted black;
	padding: 20px;
}

.debug .header-navbar {
    background-color: aquamarine;
}


.debug .section-blue {
    background-color: blue;
}

.debug .section-white {
    background-color: white;
}


.debug .section-gray {
    background-color: gray;
}


.debug .footer-black {
    background-color: black;
}
