/*RESET*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    border: none;
}

img {
    max-width: 100%;
}


/*LAYOUT*/

.container {
	max-width: 900px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.fb__15 {
    flex-basis: calc(70% / 4);
}

.fb__20 {
    flex-basis: 20%;
}

.fb__30 {
    flex-basis: 30%;
}

.fb__40 {
    flex-basis: 40%;
}

.fb__60 {
    flex-basis: 60%;
}



/*STYLE*/








/*DEBUG*/

.debug .container {
	border: 2px dotted black;
	padding: 20px;
}

.debug .row {
	border: 2px solid red;
	padding: 20px;
    
}

.debug .col {
    border: 2px dotted black;
    height: 100%;
    
}

/*DEBUG bg-color*/

.debug .header-navbar {
    background-color: aquamarine;
}


.debug .section-blue {
    background-color: blue;
}

.debug .section-white {
    background-color: white;
}


.debug .section-gray {
    background-color: gray;
}


.debug .footer-black {
    background-color: black;
}

/*debug header navbar*/

.debug .orange__navbar{
    background-color: orange;
}



.debug .row__navbar {
    border: 2px solid red;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*debug main*/
/*section blue */
.debug .col__blue {
    background-color: blueviolet;
    border: 2px dotted black;
    height: 90%;
    width: 80%;
}

.debug .row__blue {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section white */
.debug .row__white {
    border: 2px solid red;
    height: 480px;
    display: flex;
}

.aqua {
    background-color: aqua;
}

.pink {
    background-color: pink;
}

/* section gray bis */

.row__green {
    border: 2px solid red;
    height: 640px;
    display: flex;
}

.green {
    background-color: green;
    border: 2px dotted black;
    height: 100%;
    width: 100%;
}


/* FOOTER DEBUG */
.row__black {
    border: 2px solid red;
    height: 560px;
    display: flex;
}

.salmon {
    background-color: salmon;
}

.aquamarine {
    background-color: aquamarine;
}
/* FOOTER NAVBAR SECTION DEBUG */

.row__footer__navbar {
    border: 2px solid red;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.azure {
    background-color: rgb(9, 163, 163);
}

.col__footer {
    border: 2px dotted black;
    background-color: orangered;
    
    
}